:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark1: #49225b;
  --dark2: #6e3482;
  --dark3: #a56abd;
  --light1: #e7bdef;
  --light2: #f5ebfa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --dark1: #6e3482;
    --dark2: #a56abd;
    --dark3: #e7bdef;
    --light1: #2a1a33;
    --light2: #1c1224;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 0 0;
  margin-bottom: 0;
}
p,
dl,
ol,
ul {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
